<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">

<style>
    .mySwiper .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
    }

        .mySwiper .swiper-slide img {
            width: 50%;
            object-fit: cover;
        }
</style>

<!-- Swiper -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="~/images/Brands/bmw.png" alt="BMW"></div>
        <div class="swiper-slide"><img src="~/images/Brands/mercedes.png" alt="Mercedes"></div>
        <div class="swiper-slide"><img src="~/images/Brands/volkswagen.png" alt="Volkswagen"></div>
        <div class="swiper-slide"><img src="~/images/Brands/audi.png" alt="Audi"></div>
        <div class="swiper-slide"><img src="~/images/Brands/renault.png" alt="Renault"></div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.mySwiper', {
        slidesPerView: 4,
        loop: false,
        autoplay: {
            delay: 4000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
