<style>
    .sidebar_widget .slider .tooltip.tooltip-main.top {
        width: 100%;
    }

    .tooltip-inner {
        width: 200px; /* Genişliği otomatik olarak ayarla */
    }

</style>


<label class="form-label">Fiyat Aralığı (TL) </label>
<input id="price_range" type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="[0,100]" />

<script src="~/Website/assets/js/formatNumberWithDots.js"></script>

<script>
    function expSlider(value) {
        var a = 19810.94;
        var b = 0.06918;
        var c = -17810.94;

        return a * Math.exp(b * value) + c;
    }

    $(document).ready(function () {
        $('#price_range').slider({
            min: 0,
            max: 100,
            value: [0, 100],
            tooltip: 'always',
            formatter: function (value) {
                return formatNumberWithDots(expSlider(value[0]).toFixed(0)) + " ₺ : " + formatNumberWithDots(expSlider(value[1]).toFixed(0)) + " ₺";
            }
        }).on('slide', function (slideEvt) {
            var realValues = [
                expSlider(slideEvt.value[0]),
                expSlider(slideEvt.value[1])
            ];
            //console.log("Real Min:", formatNumberWithDots(realValues[0].toFixed(0)), "Real Max:", formatNumberWithDots(realValues[1].toFixed(0)));
        });

        $('#price_range').slider('setValue', [0, 100]);
    });
</script>

